body {
    background-color: #ADB6C4;
}

.Title-header { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tool-list {
    padding: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    list-style: inside;

}

/* this is the border for the images. this will be for the cpu going into the motherboard*/



.Info{
    border-color: black;
    padding: 15px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;



}

*{box-sizing:border-box}

/* Slideshow container  */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto
}

/* hiding the img by default */
.mySlides1, .mySlide2 {
    display:none;
}

/* Next and previous buttons */
.Prev, .Next {
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}
/* positioning the next button on the right size of the screen*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    
}

/* when hovered background color will change to be see-though*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);

}

.Text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;

}

/* the number text for 1/3 and above */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

